#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  background-color: rgba(132, 132, 132, 0.3);
  border: transparent;
  border-radius: 10px;
  cursor: pointer;
}

input {
  height: 20px;
}

table {
  gap: 0;
}

th,
td {
  padding: 10px 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: lightgreen;
}

.is-done {
  opacity: 0.5;
}

.AssociativeArray {
  display: flex;
  gap: 20px;
}
.todolist {
  padding: 20px;
  border: 1px solid rgba(0, 0, 0, 0.151);
  border-radius: 15px;
}
